.cor-de-fundo{
      background-image: url(../../img/Fundo_importar_iamgens.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
  
}
.orv-importar-imagem{
    margin-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.orv-fundo-trans{
    width: 1350px;
    height: 770px;
   
    border-radius: 31px;
    box-shadow: 0 1px 4px 0 black;
    background:transparent;
    backdrop-filter: blur(5px);
    opacity: 95%;
    display: flex;
    flex-direction: column;

}

.orv-fundo-trans p{
    height: 50px;
}
.orv-fundo-trans button{
    height: 50px;
    width: 100px;
}

.orv-titulo-imagem{
   
    width:269px;
    height: 58px;
    margin: auto auto;
    padding-top: 10px;
}
.orv-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.orv-sele-consorcio{
    border: 1px solid black;
    height: 680px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    

}

.orv-sele-consorcio label{
    padding-left: 5px;
    height: 25px;
    width: 210px;
    backdrop-filter: blur(10px);
    background-color: gray transparent;
    box-shadow:1px 1px 5px 1px #000;
    margin: 10px;
    border-radius: 2px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.orv-sele-consorcio select{
    background-color: #8da6a3;
    box-shadow:1px 1px 5px 1px #000;
    border-radius:2px ;
    font-family: Arial, Helvetica, sans-serif;
}
.orv-sele-consorcio select{
    width: 185px;
    height: 25px;
    margin: 10px;
}
.orv-lado{
    margin-top: 10px;
    display: flex;
    justify-content: start;
    height: 120px;
}

#data-select{
    margin-left: 13px;
    margin-top: 10px;
    width: 185px;
    height: 25px;
}
.orv-sele-consorcio input{
    background-color: #8da6a3;
    box-shadow:1px 3px 11px 1px #000;
    border-radius:2px;
    padding-left: 3px;
}
.orv-sele-update{
    height: 680px;
    width: 1000px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.orv-container-photo{
    width: 500px;
    height: 450px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    
    
    
}
.orv-update-photo{
    width: 400px;
    height: 100px;
    color: #8da6a3;
    border: 1px solid black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease,text-shadow 0.3s ease,transform 0.6s ease; 
    opacity: 90%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    transform-origin: center top;
}

.orv-update-photo:hover{
    
    color:  #052727;
    background-color: #7c9a94;
    transform: scale(1.05);
    text-shadow: 0 0 1px #015958, 0 0 6px #0c7474;
    opacity: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05) rotateX(-15deg);/*levanta levemnte o button*/
}
.file-input{
    display: none;
}
.label-photo{
    padding-top: 10%;
    text-align: center;
    
}
.orv-list-photo{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 300px;
   
}

.orv-list-upload{
    display: flex;
    width: 400px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 3px;

}
.orv-list-upload .item{
    
    width: 133px;
    height: 50px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.item p{
    padding-top: 15px;
}