.cor-de-fundo{
      background-image: url(../../img/Fundo_importar_iamgens.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
  
}
.orv-importar-imagem{
    margin-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.orv-fundo-trans{
    width: 1350px;
    height: 770px;
    border-radius: 31px;
    box-shadow: 0 1px 4px 0 black;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    opacity: 100%;
    display: flex;
    flex-direction: column;

}
.mobile{
    display: none;
}
@media (min-width:1458px) and (max-width: 1900px) {
    .mobile{
        display: none;
    }
    .orv-lado>label>.pc{
        padding-right: 80px;
        width: 270px;
        margin-left: -1px;
        text-align: start;
    }
    .orv-fundo-trans{
        width:1200px;
    }
}
@media (min-width:1200px) and (max-width: 1458px) {
    .orv-fundo-trans{
        width:1000px;
    }
    .mobile{
        display: none;
    }
    .orv-lado>label>.pc{
        padding-right: 80px;
        width: 270px;
        margin-left: -1px;
        text-align: start;
    }
}
@media (min-width:916px) and (max-width:1199px){
    .mobile{
        display: none;
    }
    .orv-lado>label>.pc{
        padding-right: 80px;
        width: 270px;
        margin-left: -1px;
        text-align: start;
    }
    .orv-titulo-imagem{
        padding-top: 3px !important;
    }
    .orv-sele-update{
        height: 772px !important;
    }
    .orv-fundo-trans{
        width: 800px;
        height: 840px;

    }
    .orv-info{
        display: flex;
        flex-direction: column;
        height: 850px;
    }
    .orv-lado{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 240px;
    }
    .orv-lado-label{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        margin-left: 240px;
    }
   .orv-container-photo{
    margin-top: 10px;

   }
   .orv-update-photo{
    margin-top: 10px;
   }
   .label-photo{
    padding-bottom: 50px;
   }
   
   .Container-login-microsoft{
    margin-bottom: 7px !important;
   }
   .Container-login-microsoft>button{
    width: 120px!important;
    height: 55px !important;
   }
   .login-button-m img{
    width: 40px!important;
    height: 35px!important;
    
    margin-top: 10px !important;
   }
   .login-button-m p{
    padding-top: 15px !important;
   }
   .orv-list-upload .item {
    margin-top: 0 !important;
   }


  
}
@media (min-width:747px) and (max-width:916px){
    .mobile{
        display: none;
    }
    .orv-lado>label>.pc{
        padding-right: 80px;
        width: 270px;
        margin-left: -1px;
        text-align: start;
    }
    .orv-fundo-trans{
        width: 650px;
        height: 850px;
    }
    .orv-info{
        display: flex;
        flex-direction: column;
        height: 850px;
    }
    .orv-lado{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 250px;
    }
    .orv-lado-label{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        margin-left: 250px;
    }
    .orv-container-photo{
        margin-top: 10px;
    
    }
    .orv-update-photo{
        margin-top: 10px;
    }
    .label-photo{
        padding-bottom: 50px;
    }
    .Container-login-microsoft{
        margin-bottom: 7px !important;
       }
       .Container-login-microsoft>button{
        width: 120px!important;
        height: 55px !important;
       }
       .login-button-m img{
        width: 40px!important;
        height: 35px!important;
        
        margin-top: 10px !important;
       }
       .login-button-m p{
        padding-top: 15px !important;
       }
       .orv-list-upload .item {
        margin-top: 0 !important;
       }
       .orv-sele-update{
        height: 772px !important;
    }
}
@media (min-width:650px) and (max-width:747px){
    .mobile{
        display: block;
        text-align: center;
    }
   
    .orv-lado>label>.pc{
        display: none;
       
    }
    .orv-lado label{
        width: 150px;
    }
    .orv-fundo-trans{
        width: 500px;
        height: 750px;
    }
    .orv-info{
        display: flex;
        flex-direction: column;
        height: 850px;
    }
    .orv-lado{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 275px;
    }
    .orv-lado-label{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        margin-left: 275px;
    }
    .orv-lado-label input{
        width: 419px !important;
    }
    .orv-container-photo{
        margin-top: 10px;
        width: 450px !important;
    
    }
    .orv-update-photo{
    margin-top: 10px;
   
    }
    .label-photo{
    padding-bottom: 50px;
    }
    .Container-login-microsoft{
        margin-bottom: 7px !important;
       }
       .Container-login-microsoft>button{
        width: 120px!important;
        height: 55px !important;
       }
       .login-button-m img{
        width: 40px!important;
        height: 35px!important;
        
        margin-top: 10px !important;
       }
       .login-button-m p{
        padding-top: 15px !important;
       }
       .orv-list-upload .item {
        margin-top: 0 !important;
       }
}

@media (min-width:592px) and (max-width:650px){
    .mobile{
        display: block;
        text-align: center;
    }
   
    .orv-lado>label>.pc{
        display: none;
       
    }
    .orv-lado label{
        width: 120px !important;
    }
   
    .orv-fundo-trans{
        width: 500px;
        height: 700px;
    }
    .orv-info{
        display: flex;
        flex-direction: column;
        height: 850px;
    }
    .orv-lado{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 310px;
    }
    .orv-lado-label{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        margin-left: 310px;
    }
    .orv-lado-label input{
        width: 329px !important;
    }
    .orv-container-photo{
        margin-top: 10px;
        width: 450px !important;
    
    }
    .orv-update-photo{
    margin-top: 10px;
    }
    .label-photo{
    padding-bottom: 50px;
    }
    .Container-login-microsoft{
        margin-bottom: 7px !important;
       }
       .Container-login-microsoft>button{
        width: 120px!important;
        height: 55px !important;
       }
       .login-button-m img{
        width: 40px!important;
        height: 35px!important;
        
        margin-top: 10px !important;
       }
       .login-button-m p{
        padding-top: 15px !important;
       }
       .orv-list-upload .item {
        margin-top: 0 !important;
       }


}
@media (max-width:592px){
    .mobile{
        display: block;
        text-align: center;
    }
   
    .orv-lado>label>.pc{
        display: none;
       
    }
    .orv-lado label{
        width: 120px !important;
    }
   
    .orv-fundo-trans{
        width: 450px;
        height: 700px;
    }
    .orv-info{
        display: flex;
        flex-direction: column;
        height: 850px;
    }
    .orv-lado{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 310px;
    }
    .orv-lado-label{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        margin-left: 310px;
    }
    .orv-lado-label input{
        width: 329px !important;
    }
    .orv-container-photo{
        margin-top: 10px;
        width: 450px !important;
    
    }
    .orv-update-photo{
    margin-top: 10px;
    }
    .label-photo{
    padding-bottom: 50px;
    }
    .Container-login-microsoft{
        margin-bottom: 7px !important;
       }
       .Container-login-microsoft>button{
        width: 120px!important;
        height: 50px !important;
       }
       .login-button-m img{
        width: 40px!important;
        height: 35px!important;
        
        margin-top: 10px !important;
       }
       .login-button-m p{
        padding-top: 15px !important;
       }
       .orv-list-upload .item {
        margin-top: 0 !important;
       }
       .orv-container-photo{
        width: 400px !important;
       }
       .orv-update-photo{
        width: 350px !important;
       }


}




.orv-fundo-trans p{
    height: 50px;
}
.orv-fundo-trans button{
    height: 50px;
    width: 100px;
}

.orv-titulo-imagem{
   
    width:269px;
    height: 58px;
    margin: auto auto;
    padding-top: 10px;
}
.orv-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.orv-sele-consorcio{
    border: 1px solid black;
    height: 680px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 10px;

    

}

.orv-sele-consorcio label{
    padding-left: 5px;
    height: 25px;
    width: 210px;
    backdrop-filter: blur(10px);
    background-color: gray transparent;
    box-shadow:1px 1px 5px 1px #000;
    margin: 10px;
    border-radius: 2px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.orv-sele-consorcio select{
    background-color: #8da6a3;
    box-shadow:1px 1px 5px 1px #000;
    border-radius:2px ;
    font-family: Arial, Helvetica, sans-serif;
}
.orv-sele-consorcio select{
    width: 185px;
    height: 25px;
    margin: 10px;
}
.orv-lado{
    margin-top: 10px;
    display: flex;
    justify-content: start;
    height: 120px;
}
.orv-lado>label>.pc{
    padding-right: 80px;
    width: 270px;
    margin-left: -1px;
    text-align: start;
}

#data-select{
    margin-left: 13px;
    margin-top: 10px;
    width: 185px;
    height: 25px;
}
.orv-sele-consorcio input{
    background-color: #8da6a3;
    box-shadow:1px 3px 11px 1px #000;
    border-radius:2px;
    padding-left: 3px;
}
.orv-sele-update{
    height: 680px;
    width: 1000px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}
.orv-container-photo{
    width: 500px;
    height: 450px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    
    
    
}
.orv-update-photo{
    width: 400px;
    height: 100px;
    color: #8da6a3;
    border: 1px dashed black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease,text-shadow 0.3s ease,transform 0.6s ease; 
    opacity: 90%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    transform-origin: center top;
}

.orv-update-photo:hover{
    
    color:  #052727;
    background-color: #7c9a94;
    transform: scale(1.05);
    text-shadow: 0 0 1px #015958, 0 0 6px #0c7474;
    opacity: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05) rotateX(-15deg);/*levanta levemnte o button*/
}
.file-input{
    display: none;
}
.label-photo{
    padding-top: 10%;
    text-align: center;
    color: black;
    
}
.orv-list-photo{
   
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 300px;
   
}
.orv-list-upload{
    display: flex;
    width: 400px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 3px;

}
.orv-list-upload .item{
    
    margin-top: 15px ;
    width: 133px;
    height: 50px;
    background-color: #7c9a94;
    opacity: 80%;


    display: flex;
    align-items: center;
    justify-content: center;
}

.item p{
    padding-top: 20px;
    
    
}
.bi-check-circle-fill{

    font-size: 25px;
}

.bi-x-circle-fill{
    font-size: 25px;
    color: crimson;
}
.bi-arrow-clockwise {
    font-size: 25px;
    color: #000;
}

.orv-lado-label{
    margin-top: 10px;
    display: flex;
    justify-content: start;
    height: 210px;
    flex-direction: column;
}
.orv-lado-label label{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 30px;
    width:303px;
    flex-direction: column;
}
.orv-lado-label input{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 500px;
    flex-direction: column;
}
.Container-login-microsoft{
    height: 110px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    outline: none;
    border-radius: 10px;
    
}
.Container-login-microsoft> button{
    height: 65px;
    width: 150px;
    display: flex;
    outline: none;
    border: none!important;
    border-radius:10px ;
    background-color: #8da6a3;
    
}
.login-button-m{
    display: flex;
    width: 200px;
    height: 63px;
    flex-direction: row;
    align-items: bottom;
    justify-content: center;
   
}
.login-button-m img{
    width: 40px;
    height: 38px;
    margin-left: 22px;
    margin-top: 15px;
}

.login-button-m p{
    width: 100px;
    height: 60px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding-top: 20px;

    
}
